@import "../../style/colors.scss";

.navbar {
  background-color: $color-grey;
  padding: 10px;
}

nav a {
  color: $color-white;
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px;
  &:hover {
    color: $light-grey;
  }
}
