@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Cartoonist Hand Bold";
  src: url("../assets/fonts/Cartoonist-Hand/SF_Cartoonist_Hand_Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Cartoonist Hand";
  src: url("../assets/fonts/Cartoonist-Hand/SF_Cartoonist_Hand.ttf")
    format("truetype");
}

@font-face {
  font-family: "Candy Beans";
  src: url("../assets/fonts/Candy_Beans.otf") format("opentype");
}

@font-face {
  font-family: "Just Bubble";
  src: url("../assets/fonts/JustBubble.ttf")
    format("truetype");
}
